.childsRepo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.repoParent {
  padding: 0px 4rem 6rem 4rem;
}
.childsRepo:hover {
  background-color: #e7e7e7;
}
.link1 {
  font-size: 15px;
  margin-right: 5px;
}
.infos {
  display: flex;
  justify-content: center;
  gap: 5%;
}
@media (max-width: 400px) {
  .repoParent {
    padding: 0px 0rem 6rem 0rem;
  }
}
